.gradient-preview {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: $border-radius-xl;
  overflow: hidden;
  box-shadow: $shadow-xl;
}

.gradient-preview__box {
  width: 100%;
  height: 100%;
}
