.auth-layout {
  min-height: calc(var(--app-vh, 1vh) * 100);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, $color-primary-alpha-05, $color-secondary-alpha-05);
}
