@import '@/app/styles/variables.scss';

.quiz-timer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  &__circle {
    position: relative;
    width: 120px;
    height: 120px;
  }

  &__svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
  }

  &__track {
    fill: none;
    stroke: $color-border;
    stroke-width: 8;
  }

  &__progress {
    fill: none;
    stroke: $color-primary;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-dasharray: 282.7;
    transition: stroke-dashoffset 1s linear;
  }

  &__time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
    font-weight: 700;
    color: $color-text-primary;
  }
}
